*.tar.gz
*.gz
*.pyc
UnsupervisedMT
UnsupervisedQAData
data
constituency
./data/sentence_np/periodic-20.pth
./data/sentence_np/all.cloze-question.60000.vec
./data/subclause_ne_wh_heuristic/periodic-20.pth
./data/subclause_ne_wh_heuristic/all.cloze-question.60000.vec
./data/sentence_ne/periodic-20.pth
./data/sentence_ne/all.cloze-question.60000.vec
./data/subclause_ne/periodic-20.pth
./data/subclause_ne/all.cloze-question.60000.vec
./constituency/elmo-constituency-parser-2018.03.14.tar.gz
./UnsupervisedQAData/unsupervised_qa_train.json
./UnsupervisedMT/NMT/tools/fastText/.git/objects/pack/pack-5ed2f28107e91b46f5d5144daf998d95a8e24929.pack
./UnsupervisedMT/NMT/tools/mosesdecoder/.git/objects/pack/pack-5d9ec0629d796c223414bccacc08eed19b86a62a.pack
./UnsupervisedMT/NMT/tools/mosesdecoder/contrib/promix/test_data/esen.ep.model.filtered/phrase-table.0-0.1.1.binphr.tgtdata.wa
./UnsupervisedMT/NMT/tools/mosesdecoder/contrib/promix/test_data/esen.ep.model.filtered/phrase-table.0-0.1.1
